* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
body {
  background-color: #edebe9;
}
main {
  height: 100vh;
  display: grid;
  place-items: center;
  max-width: 700px;
  margin: 0 auto;
}
.board {
  width: 100%;
}
.board-status {
  display: flex;
  flex-flow: column nowrap;
}
#status {
  font-size: 0.7rem;
  padding: 5px;
}
#pgn {
  font-size: 0.6rem;
  height: 100px;
  overflow: scroll;
  padding: 5px 5px 0 5px;
  border: 0.2px solid #999;
  cursor: pointer;
}
.top-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 10px 0;
}
.display-none {
  display: none;
}
