* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.game-options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  padding: 15px;
}
button {
  outline: none;
  border: 1px #111 solid;
  background-color: #fff;
  width: fit-content;
  padding: 5px;
  transition: all 50ms ease-in-out;
  height: fit-content;
}
button:hover {
  background-color: #000;
  color: #fff;
}
.load-fen-form {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  max-width: 800px;
  margin: 15px auto;
  gap: 20px;
}
.load-fen-form input {
  outline: none;
  background-color: transparent;
  border: none;
  padding: 5px;
  border-bottom: #edebe9 solid 2px;
}
.load-fen-form input:focus {
  border-bottom: #000 solid 2px;
}
.options-menu {
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: #000 2px 2px 2px 2px;
  z-index: 1000;
}
.options-menu button {
  border: none;
  width: 100%;
  text-align: left;
}
.options-menu select {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px;
}
.options-menu select:hover {
  background-color: #000;
  color: #fff;
}
body {
  background-color: #edebe9;
}
#status {
  font-size: 0.7rem;
  padding: 5px;
}
#pgn {
  font-size: 0.6rem;
  height: 50px;
  overflow: scroll;
  cursor: pointer;
  max-width: 800px;
  margin: 0 auto;
}
.display-none {
  display: none;
}
#myBoard {
  margin: 0 auto;
}

@media (max-width: 400px) {
  * {
    font-size: 18px;
  }
  .load-fen-form {
    gap: 7px;
  }
}
